h1 {
    text-align: left;
    font-weight: bolder;
    text-decoration: darkgreen underline double;
    letter-spacing: .2rem;
    font-size: 60px;

    font-family: Arial, Helvetica, sans-serif;

    h2 {
        text-align: center;
        font-weight: 700;
        text-decoration: pink overline solid;
        letter-spacing: 1px;
    }

    h3 {
        text-align: center;
        text-decoration: green overline double;
        font-weight: 100;
        letter-spacing: 1px;
    }

    p {
        font-weight: 100;
        text-decoration: purple underline wavy;
        line-height: 2;
    }

    a {
        text-decoration: none;
    }