*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #12372A;
}

div{
    margin: 1rem;
    padding: .6rem;
}
.todo-heading{
    color: #ADBC9F;
    border-radius: 1.4rem;
    background-color: #436850;
    text-align: center;
    width: 400px;
    
}
.todo-input{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    min-height: 60px;
    background-color: #436850;
    border-radius: 1.4rem;
}
.todo-input input,button{
    font-size: large;
    border-radius: 1rem;
    border: none;
    outline: none;
    text-align: center;
}
.todo-input button{
    width: 60px;
    cursor: pointer;
}

.list-cointainer h2{
    color: #436850;
    border-radius: 1.4rem;
    background-color: #ADBC9F;
    text-align: left;
    width: 400px;
    height: 50px;
    margin:.8rem ;
    padding: .5rem;
    position: relative;
    margin-left: -10px;
}
.list-cointainer h2 i{
    color: black;
    position: absolute;
    right: 10px;
}

